---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-title::before {
	content: url("/assets/cac.png");
	display: inline-block;
	position: relative;
	width: 70px;
	top: 5px;
}
